* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}

.header-main {
	padding: 0;
	margin: 0;
	max-width: 100%!important;
}
.header {
	min-height: 100vh;
	/* background: url(../img/forest.jpg) no-repeat center;
	background-size: cover; */
	margin: 0;
}
.head-block {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo img {
	max-width: 200px;
}
.logo-title h1 {
	font-size: 3.5rem;
	color: #ffffff;
	text-transform: uppercase;
}
.parallax-slider {
	    filter: blur(2px);
}